body {
    padding: 20px 0px 20px 0px;
    background-color: #808080;
}

.container {
    background-color: #fff;
    padding: 40px;
    box-shadow: 2px 2px 5px #000;
}

.header {
    padding: 30px;
    background-color: #eee;
    margin-bottom: 30px;
}

.me-image {
    width: 120px;
}

.name {
    margin-top: 30px;
}

.details {
    margin-top: 30px;
}

.languages .language-name {
    width: 80px;
    font-weight: bold;
    float: left;
}

.italics {
    font-style: italic;
}

.social-networks {
    margin-top: 10px;
}

.social-networks a {
    margin-right: 4px;
}

.social-networks img {
    width: 20px;
}

.social-networks img.skype {
    width: 22px;
}

.social-networks img.github {
    width: 24px;
}

.section-title {
    font-style: italic;
    font-size: 21px;
    font-weight: 200;
}

.item-title {
    font-size: 17px;
    color: #2e4dbf;
    font-weight: 600;
}

.item-subtitle {
    font-weight: 600;
    margin-bottom: 12px;
}

.item-period {
    border: 1px solid #ddd;
    padding: 2px 5px;
}

.item-detail-list > li {
    margin-bottom: 9px;
}

.inner-separator {
    border-bottom: 1px dashed #ddd;
    margin: 10px 0 20px 0;
}

form.download {
    float: right;
}

form.download button {
    float: right;
    margin-right: -140px;
    margin-top: 100px;
    font-size: 12px;
}

footer {
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    font-weight: bolder;
}

.azure-logo {
    height: 15px;
    margin-right: 8px;
    vertical-align: top;
}

.github-fork {
    position: absolute; 
    top: 0; 
    left: 0; 
    border: 0;
}